<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <script src="/web-server/public/js/app.js"></script>
</head>


<body>
    {{>header}}
    <h1>{{title}}</h1>
</body>

{{>footer}}

</html>