<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/web-server/public/css/style.css">
    <script src="/web-server/public/js/app.js"
</head>


<body>
    {{>header}}
    <h1>{{title}}</h1>
</body>

</html>